<div class="top">
  <div class="logo" (click)="goHome()">
    <img class="img-logo" src="/assets/project/logo.png" alt="Dublin City University Logo" tabindex="0">
  </div>
  <div class="linkToLoop">
    <button aria-label="Go to the Loop login page"
      onClick="location.href='https://loop.dcu.ie/theme/dcu/layout/altlogin.php'">
      Loop </button>
  </div>
  <div class="linkToPrinting">
    <button aria-label="Go to the DCU Printing Site"
      onClick="location.href='https://print.dcu.ie/end-user/ui/login'">
      DCU Print </button>
  </div>
  <div class="dropdown">
    <label>
      <p tabindex="0">Opening Hours</p>
    </label>
    <select tabindex="0">
      <option value="1">Monday 8:30 - 02:00</option>
      <option value="2">Tuesday 8:30 - 02:00</option>
      <option value="3">Wednesday 08:30 - 02:00</option>
      <option value="4">Thursday 08:30 - 02:00</option>
      <option value="5">Friday 08:30 - 22:00</option>
      <option value="6">Saturday 08:30 - 20:00</option>
      <option value="7">Sunday 08:30 - 18:00</option>
    </select>
  </div>
</div>
<div class="header">
  <img class="img-banner" alt="image of DCU Glasnevin campus" src="/assets/project/library_banner.jpg">
</div>